<launch>

    <!-- <arg name="odom_topic" default="/dragonfly67/quadrotor_ukf/control_odom"/> -->
    <arg name="odom_topic" default="/odom_ugv"/>
    <arg name="robot_name" default="robot0"/>
    <arg name="robot_ID" default="0"/>

    <node name="rgb_sem_segmentation" pkg="object_modeller" type="detect.py" output="screen" ns="$(arg robot_name)">

        <!-- GPU/CPU toggle: set to true once PyTorch/CUDA versions are compatible -->
        <param name="~use_gpu" value="false"/>
        
        <!-- CPU optimization: number of threads to use for inference (default: 8) -->
        <param name="~cpu_threads" value="12"/>
        
        <!-- YOLO model selection: 
             yolov8n-seg.pt = nano (fastest, ~5-10x faster than x, lower accuracy)
             yolov8s-seg.pt = small (fast, ~3-5x faster than x, good accuracy)
             yolov8m-seg.pt = medium (balanced, ~2-3x faster than x)
             yolov8x-seg.pt = extra-large (slowest, best accuracy) [ORIGINAL]
        -->
        <param name="~yolo_model" value="yolov8n-seg.pt"/>
        
        <param name="~sim" value="false"/>
        <param name="~desired_rate" value="2"/>
        <param name="~confidence_threshold" value="0.4"/>
        <param name="~rgb_topic" value="camera/color/image_raw/"/>
        <param name="~depth_topic" value="camera/depth/image_rect_raw"/>         
        <param name="~aligned_depth_topic" value="camera/aligned_depth_to_color/image_raw"/>
        <!-- <param name="~rgb_topic" value="camera_front/rgb_ugv/"/>
        <param name="~depth_topic" value="camera_front/depth_ugv/"/>         
        <param name="~aligned_depth_topic" value="depth_ugv1"/> -->
        <param name="~odom_topic" value="$(arg odom_topic)"/>
        <param name="~sync_odom_measurements" value="true"/>
        <param name="~sync_pc_odom_topic" value="/robot$(arg robot_ID)/sem_detection/sync_pc_odom"/>
        <param name="~pc_topic" value="/robot$(arg robot_ID)/sem_detection/pointcloud"/>
        <param name="~detection_image_topic" value="/robot$(arg robot_ID)/sem_detection/detections_image"/>



        <!-- For scarab -->
        <!-- <param name="~fx" value="390.97088623046875" />
        <param name="~fy" value="390.970886230468" />
        <param name="~cx" value="324.1226806640625" />
        <param name="~cy" value="243.95254516601562" /> -->

        <!-- For f250 435i -->
        <!-- <param name="~fx" value="603.7166748046875" />
        <param name="~fy" value="603.9064331054688" />
        <param name="~cx" value="314.62518310546875" />
        <param name="~cy" value="244.9166717529297" />
        <param name="~k_depth_scaling_factor" value="1000.0" /> -->

        <!-- For f250 455 -->
<!--         
        <param name="~fx" value="390.97088623046875" />
        <param name="~fy" value="390.970886230468" />
        <param name="~cx" value="324.1226806640625" />
        <param name="~cy" value="243.95254516601562" /> 
        <param name="~k_depth_scaling_factor" value="5.0" /> -->

        <!-- spot -->

        <param name="~fx" value="219.4734627" />
        <param name="~fy" value="219.4734627" />
        <param name="~cx" value="375" />
        <param name="~cy" value="375" /> 
        <param name="~k_depth_scaling_factor" value="1000" />

    </node>l

</launch>
